registry=https://pkgs.dev.azure.com/regionvb/1453e248-c638-4316-8215-9bbaea9548f5/_packaging/rv-spfx-controls/npm/registry/         
always-auth=true
; begin auth token
//pkgs.dev.azure.com/regionvb/1453e248-c638-4316-8215-9bbaea9548f5/_packaging/rv-spfx-controls/npm/registry/:username=regionvb
//pkgs.dev.azure.com/regionvb/1453e248-c638-4316-8215-9bbaea9548f5/_packaging/rv-spfx-controls/npm/registry/:_password=NDV6cTZ1NXhsaGs2NmJpd2JxdnpuaWFtNHoyMnRkYWFnM2wybTZ0Zmh4aGR2M3d6YW1kYQ==
//pkgs.dev.azure.com/regionvb/1453e248-c638-4316-8215-9bbaea9548f5/_packaging/rv-spfx-controls/npm/registry/:email=glenn.reian@regionvasterbotten.se
//pkgs.dev.azure.com/regionvb/1453e248-c638-4316-8215-9bbaea9548f5/_packaging/rv-spfx-controls/npm/:username=regionvb
//pkgs.dev.azure.com/regionvb/1453e248-c638-4316-8215-9bbaea9548f5/_packaging/rv-spfx-controls/npm/:_password=NDV6cTZ1NXhsaGs2NmJpd2JxdnpuaWFtNHoyMnRkYWFnM2wybTZ0Zmh4aGR2M3d6YW1kYQ==
//pkgs.dev.azure.com/regionvb/1453e248-c638-4316-8215-9bbaea9548f5/_packaging/rv-spfx-controls/npm/:email=email=glenn.reian@regionvasterbotten.se
; end auth token

